.brewery-entry td {
    width: 1000px;
    border: 1px solid #9ca3af;
    padding: 20px;
}

.brewery-entry, .attributes {
    height: 50px;
}

.attributes th {
    width: 1000px;
    padding: 20px;
}

.brewery-table {
    border-collapse: collapse;
    font-size: 12px;
}

.filters {
    align-items: center;
    display: inline-flex;
    width: 500px;
}

.search {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search input {
    margin-left: 10px;
    margin-right: 5px;
}

#title {
    margin-left: 20px;
}

.stats {
    margin-left: 20px;
    font-size: 14px;
}

.details-container {
    margin-left: 300px;
}

.details-table {
    width: 1000px;
    text-align: left;
    border-collapse: collapse;
}

.details-table th, td {
  border: 1px solid #9ca3af;
  padding: 10px;
}

.dash-button {
    color: white;
    text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 250px;
  background: #2e303a;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-item {
    list-style: none;
    margin: 0;
}

.dashboard {
    margin-left: 300px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 20px;
}

.type-chart {
    background: #2e303a;
    padding: 16px;
    width: 50%;
}

.type-chart h3 {
    margin-top: 0;
    margin-bottom: 12px;
}