.brewery-entry td {
    width: 1000px;
    border: 1px solid #9ca3af;
    padding: 20px;
}

.brewery-entry, .attributes {
    height: 50px;
}

.attributes th {
    width: 1000px;
    padding: 20px;
}

.brewery-table {
    border-collapse: collapse;
    font-size: 12px;
}

.filters {
    align-items: center;
    display: inline-flex;
    width: 500px;
}

.search {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search input {
    margin-left: 10px;
    margin-right: 5px;
}

#title {
    margin-left: 20px;
}

.stats {
    margin-left: 20px;
    font-size: 14px;
}